# =============================================================
# SALIN GAYA - ENVIRONMENT VARIABLES EXAMPLE
# Copy file ini menjadi .env dan isi valuenya!
# =============================================================

# 1. FIREBASE CONFIGURATION
# ---------------------------------------------------------------
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# 2. MIDTRANS PAYMENT GATEWAY (SANDBOX)
# ---------------------------------------------------------------
VITE_MIDTRANS_CLIENT_KEY=

# 3. FONNTE WHATSAPP API (OTP VERIFICATION)
# ---------------------------------------------------------------
VITE_FONNTE_TOKEN=

# 4. Email Auten
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_TEMPLATE_ID_RESET=
VITE_EMAILJS_PUBLIC_KEY=

# 5.Midtrans
MIDTRANS_SERVER_KEY=
